#Container {
	width:auto;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	margin-top:11px;
	margin-bottom:21px;
}
#Header {
	height:60px;
	width:auto;
	background-color:#CCC;
	font-family:Tahoma, Geneva, sans-serif;
}
#Header a:Hover {
	color:#000;
}
#Header a {
	color:#666;
	text-decoration:none;
	height:60px;
	width:auto;
}
#Header h1 {
	color:#666;
}
#Menu {
	height:auto;
	background-color:#666;
}
#SideBar {
	width:150px;
	height:400px;
	background-color:#667;
	float:left;
}
#MainBody {
	width:auto;
	height:400px;
	background-color:#FFF;
	float:right;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:17px;
}
#MainBody p {
	margin-left:10px;
	text-decoration:none;
}
#Footer {
	height:100px;
	background-color:#CCC;
	clear:both;
}
#Footer a {
	float:right;
	text-decoration:none;
}
#ImageBody {
	width:650px;
	height:400px;
	background-color:#FFF;
	float:right;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:17px;
}
#ImageBody img {
	width:auto;
	height:auto;
}
  .dropown {
  	position: relative;
	display: inline-block;
  }
  .dropdown-content {
  	display: none;
	position: absolute;
	background-color: #666;
	min-width: 160px;
	box-shadow : 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding: 12px 16px;
	z-index: 1;
  }
  .dropdown:hover .dropdown-content {
  	display: block;
  }