#SideBar ul{
	margin:0;
	padding:0;
}
#SideBar li{
	list-style-type:none;
	float:left;
	width:150px;
	height:60px;
	text-align:center;
	line-height:55px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:17px;
}
#SideBar li a{
	text-decoration:none;
	color:#FFF;
}
#SideBar li:Hover {
	background-color:#CCC;
}